.contenedor {
    width: 100%;
    height: 100%;
}
.boton {
  width: 100%;
  height: 18%;
}

ion-button {
  // margin-top: 20%;
  // --ripple-color: red;
  //
  // --border-color: black;
  // --border-style: solid;
  // --border-width: 1px;
}

// .divSpinner {
//   height: 100%;
//   width: 100%;
// }
// ion-spinner {
//   stroke: #ff0000;
//   fill: #8b0000;
//   position: fixed;
//   z-index: 999;
//   height: 1em;
//   width: 1em;
//   overflow: show;
//   margin: auto;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }
